<div data-height="300" class="container-fluid dashboard dashboard-draggable" id="dashboard" style="margin-top:0px;">
<section class="row">

        

       <div class="portal-col col-md-4 col-sm-6" data-id="3" data-order="3">
  
  
        
        <div data-id="393520547676160" class="portlet" data-order="2">
          <div data-url="" class="panel panel-default" id="panel393520547676160" data-id="393520547676160">
            <div class="panel-heading">
              <div class="panel-actions">
                <button class="btn btn-sm refresh-panel"><i class="glyphicon glyphicon-refresh"></i></button>
                <div class="dropdown">
                  <button data-toggle="dropdown" class="btn btn-sm" role="button"><span class="caret"></span></button>
                  <ul aria-labelledby="dropdownMenu1" role="menu" class="dropdown-menu">
                    <li><a href="javascript:void(0);updateWidget(393520547676160, 6, '天气预报')"><i class="glyphicon glyphicon-pencil"></i> 编辑</a></li>
                    <li><a class="remove-panel" href="#"><i class="glyphicon glyphicon-remove"></i> 移除</a></li>
                  </ul>
                </div>
              </div>
		      <i class="glyphicon glyphicon-list"></i> 新闻信息
            </div>
            <div class="panel-body no-padding" style="height: 264px;">
            	<marquee direction="up" scrollamount="2">
            		<div style="padding-left:20px;">  
            			<h4>啦啦啦</h4><a href="../cms/cms-article-view.do?id=12"><p>啦啦啦</p></a>
            		</div>
            		<div style="padding-left:20px;">  
            			<h4>啦啦啦</h4><a href="../cms/cms-article-view.do?id=12"><p>啦啦啦</p></a>
            		</div>
            		<div style="padding-left:20px;">  
            			<h4>啦啦啦</h4><a href="../cms/cms-article-view.do?id=12"><p>啦啦啦</p></a>
            		</div>
            		<div style="padding-left:20px;">  
            			<h4>啦啦啦</h4><a href="../cms/cms-article-view.do?id=12"><p>啦啦啦</p></a>
            		</div>
            	</marquee>
            </div>
          </div>
        </div>
  
		</div>
		
  <div class="portal-col col-md-4 col-sm-6" data-id="3" data-order="3">
		<div data-id="393520547676160" class="portlet" data-order="2">
          <div data-url="" class="panel panel-default" id="panel393520547676160" data-id="393520547676160">
            <div class="panel-heading">
              <div class="panel-actions">
                <button class="btn btn-sm refresh-panel"><i class="glyphicon glyphicon-refresh"></i></button>
                <div class="dropdown">
                  <button data-toggle="dropdown" class="btn btn-sm" role="button"><span class="caret"></span></button>
                  <ul aria-labelledby="dropdownMenu1" role="menu" class="dropdown-menu">
                    <li><a href="javascript:void(0);updateWidget(393520547676160, 6, '天气预报')"><i class="glyphicon glyphicon-pencil"></i> 编辑</a></li>
                    <li><a class="remove-panel" href="#"><i class="glyphicon glyphicon-remove"></i> 移除</a></li>
                  </ul>
                </div>
              </div>
		      <i class="glyphicon glyphicon-list"></i> 天气预报
            </div>
            <div class="panel-body no-padding" style="height: 264px;"><iframe name="weather_inc" src="http://i.tianqi.com/index.php?c=code&amp;id=35&amp;icon=1&amp;num=3" marginwidth="0" marginheight="0" scrolling="no" width="100%" height="70" frameborder="0"></iframe></div>
          </div>
        </div>
        
  
		</div>


	 <div class="portal-col col-md-4 col-sm-6" data-id="3" data-order="3">
        
        <div data-id="393520547676160" class="portlet" data-order="2">
          <div data-url="" class="panel panel-default" id="panel393520547676160" data-id="393520547676160">
            <div class="panel-heading">
              <div class="panel-actions">
                <button class="btn btn-sm refresh-panel"><i class="glyphicon glyphicon-refresh"></i></button>
                <div class="dropdown">
                  <button data-toggle="dropdown" class="btn btn-sm" role="button"><span class="caret"></span></button>
                  <ul aria-labelledby="dropdownMenu1" role="menu" class="dropdown-menu">
                    <li><a href="javascript:void(0);updateWidget(393520547676160, 6, '天气预报')"><i class="glyphicon glyphicon-pencil"></i> 编辑</a></li>
                    <li><a class="remove-panel" href="#"><i class="glyphicon glyphicon-remove"></i> 移除</a></li>
                  </ul>
                </div>
              </div>
		      <i class="glyphicon glyphicon-list"></i> 天气预报
            </div>
            <div class="panel-body no-padding" style="height: 264px;"><iframe name="weather_inc" src="http://i.tianqi.com/index.php?c=code&amp;id=35&amp;icon=1&amp;num=3" marginwidth="0" marginheight="0" scrolling="no" width="100%" height="70" frameborder="0"></iframe></div>
          </div>
        </div>
  
		</div>
	
<#include "/admin/user/imglist.html"/>   
      </section>
</div>   
